section.faq
    .faq__container
        h1.faq__title Ответы на частые вопросы
        .faq__content
            .faq__content-left
                a.faq__item.faq__item-1(data-bs-toggle="collapse" href="#collapseAnswer-1" role="button" aria-expanded="false" aria-controls="collapseAnswer-1")
                    p.faq__question Сколько времени потребуется на расчет?
                    .faq__answer(class="collapse" id="collapseAnswer-1") Время от отправки заявки до готовой сметы и проекта занимает в среднем 3-5 дней
                a.faq__item.faq__item-2(data-bs-toggle="collapse" href="#collapseAnswer-2" role="button" aria-expanded="false" aria-controls="collapseAnswer-2")
                    p.faq__question Какая документация предоставляется после монтажа?
                    .faq__answer(class="collapse" id="collapseAnswer-2") Время от отправки заявки до готовой сметы и проекта занимает в среднем 3-5 дней
                a.faq__item.faq__item-3(data-bs-toggle="collapse" href="#collapseAnswer-3" role="button" aria-expanded="false" aria-controls="collapseAnswer-3")
                    p.faq__question Длительность монтажа для частного дома?
                    .faq__answer(class="collapse" id="collapseAnswer-3") Время от отправки заявки до готовой сметы и проекта занимает в среднем 3-5 дней
            .faq__content-right
                a.faq__item.faq__item-4(data-bs-toggle="collapse" href="#collapseAnswer-4" role="button" aria-expanded="false" aria-controls="collapseAnswer-4")
                    p.faq__question Какой материал используется в заземлении
                    .faq__answer(class="collapse" id="collapseAnswer-4") Время от отправки заявки до готовой сметы и проекта занимает в среднем 3-5 дней
                a.faq__item.faq__item-5(data-bs-toggle="collapse" href="#collapseAnswer-5" role="button" aria-expanded="false" aria-controls="collapseAnswer-5")
                    p.faq__question Длительность монтажа для частного дома?
                    .faq__answer(class="collapse" id="collapseAnswer-5") Время от отправки заявки до готовой сметы и проекта занимает в среднем 3-5 дней
                a.faq__item.faq__item-6(data-bs-toggle="collapse" href="#collapseAnswer-6" role="button" aria-expanded="false" aria-controls="collapseAnswer-6")
                    p.faq__question Какие способы оплаты принимаете?
                    .faq__answer(class="collapse" id="collapseAnswer-6") Время от отправки заявки до готовой сметы и проекта занимает в среднем 3-5 дней