section.stages
    .stages__container
        h1.stages__title Выполняем весь цикл работ <br>от расчета до оформления документации
        .stages__content
            .stages__item
                p Предварительный расчет материалов и стоимости работ
                span 01
            .stages__item
                p Бесплатный выезд инженера на замер
                span 02
            .stages__item
                p Заключение договора
                span 03
            .stages__item
                p Предоплата
                span 04
            .stages__item
                p Выполнение работ
                span 05
            .stages__item
                p Оплата и выдача исполнительной документации
                span 06