section.hero
    .hero__left
        p.hero__text-main() <strong>Рассчитаем стоимость</strong> комплектующих и установки <strong>системы заземления</strong> за 1 день
        p.hero__text() Получите подробную смету ответив <br>всего на 5 простых вопросов
        a.hero__button-link(href="#" role="button") Получить расчет
        .hero__pic-mobile
            img.hero__pic2#houseImg2(src="../../images/house.svg" alt="house" title="house")
        .hero__features
            .features
                .features__item
                    img.features__icon#starImg(src="../../images/star.svg" alt="star" title="star")
                    p.features__text Собственное <br>производство
                .features__item
                    img.features__icon#cartImg(src="../../images/cart.svg" alt="cart" title="cart")
                    p.features__text Наличие товара <br>на складе
                .features__item
                    img.features__icon#documentImg(src="../../images/document.svg" alt="document" title="document")
                    p.features__text Выдаем всю <br>документацию
    .hero__right
        img.hero__pic#houseImg(src="../../images/house.svg" alt="house" title="house")
        img.hero__logo(src="assets/images/logo.png" alt="voltstream" id="logoImg2" aria-hidden="true")
