section.site
    picture
        source(srcset=require("../../images/site.avif") type="image/avif")
        source(srcset=require("../../images/site.webp") type="image/webp")
        img.site__img(src="../../images/site.png" alt="Site")