.navbar-brand{
	@include media-breakpoint-down(sm){
		width: 6.75rem;
		& img {
			width: 100%;
		}
	}
}

.nav-item {
	display: flex;
	align-items: center;
	margin-right: clamp(1.875rem, 3.47vw, 3.125rem);
}

.nav-link {
	white-space: nowrap;
	font-size: clamp(0.8125rem, 1.5vw, 1.125rem);
	font-weight: 500;
	color: var(--font-light);
	@include media-breakpoint-down(lg) {
		font-size: 14px;
	}
	@include media-breakpoint-down(md) {
		color: var(--font-dark-small);
	}
	&.active {
		color: var(--font-light) !important;
		@include media-breakpoint-down(md) {
			color: var(--font-dark) !important;
		}
	}
	&:hover {
		color: var(--font-light);
		@include media-breakpoint-down(md) {
			color: var(--font-dark);
		}
	}
}

.navbar-brand {
	margin-right: min(5vw, 5rem);
	@include media-breakpoint-between(md, lg) {
		display: none;
	}
}

.phone {
	margin: 0;
    width: fit-content;
	&__header {
		display: flex;
		justify-content: space-between;
		margin: 0;
	}

	&__number {
		font-size: 1.125rem;
		line-height: 1.8rem;
		font-weight: 600;
		color: var(--font-light);
        @include media-breakpoint-down(md) {
            color: var(--font-dark-small);
        }
	}

	&__text {
		margin: 0;
		white-space: nowrap;
		font-size: 0.8125rem;
		line-height: 1.3rem;
		font-weight: 500;
		color: var(--font-light);
        @include media-breakpoint-down(md) {
            color: var(--font-dark-small);
        }
	}
}

#phoneSvg {
	fill: var(--font-light);
    align-self: center;
	@include media-breakpoint-down(md) {
		fill: var(--font-dark-small);
	}
}

.navbar-toggler {
	outline: 0;
	border: 0;
	padding: 0;
	&:focus {
		box-shadow: none;
	}
}

.offcanvas-header  {
    justify-content: end;
}