footer.footer
    .footer__map
    .footer__contacts
        .footer__title Свяжитесь с нами или приезжайте в гости на чашечку кофе!
        address.footer__address
            p +7 800 555 44 80
            p Info@voltstream.com
            p Россия, Москва, Ул. Газгольдерная 12 стр. 5
        .footer__social.social
            a(href="#")
                img.social__instagram(src=require("../../images/icons/instagram.svg") alt="Instagram")
            a(href="#")
                img.social__twitter(src=require("../../images/icons/twitter.svg") alt="Twitter")


