doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= htmlWebpackPlugin.options.title
	body
		.wrapper
			.custom-container
				include ./components/header/header.pug
				main
					include ./components/hero/hero.pug
					section.about-us
					section.question
					section.features
					section.reviews
					section.feedback
					section.certificates
					section.faq
					section.contacts
