doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= htmlWebpackPlugin.options.title
	body
		.wrapper
			.custom-container
				header
					<nav class="navbar navbar-expand-md navbar-light fixed-top">
						<div class="container-xl">
							<a class="navbar-brand" href="#">
								<img src="assets/images/logo.png" id="logoImg">
							</a>
							<button class="navbar-toggler hidden-lg-up" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon">
							</button>
							<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
								<div class="offcanvas-header">
									<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
								</div>
								<div class="offcanvas-body">
									<ul class="navbar-nav me-auto mt-2 mt-lg-0">
										<li class="nav-item">
											<a class="nav-link active" href="#" aria-current="page"> О нас
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#"> Этапы
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#"> Отзывы
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#"> Наши работы
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#"> Вопрос ответ
										</li>
									</ul>
									<address class='header__phone phone'>
										<p class='phone__header'>
											//- <img class="phone__icon" src="./images/phone.svg" id="phoneSvg">
											<svg width="18" id="phoneSvg" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g clip-path="url(#clip0_95_157)">
													<path d="M15.75 12.315V14.967C15.7501 15.1569 15.6781 15.3397 15.5487 15.4786C15.4192 15.6176 15.2419 15.7022 15.0525 15.7155C14.7247 15.738 14.457 15.75 14.25 15.75C7.62225 15.75 2.25 10.3778 2.25 3.75C2.25 3.543 2.26125 3.27525 2.2845 2.9475C2.29779 2.75808 2.38244 2.58076 2.52135 2.45131C2.66027 2.32186 2.84312 2.24991 3.033 2.25H5.685C5.77803 2.24991 5.86777 2.28439 5.9368 2.34677C6.00582 2.40914 6.0492 2.49494 6.0585 2.5875C6.07575 2.76 6.0915 2.89725 6.1065 3.0015C6.25555 4.04169 6.561 5.05337 7.0125 6.00225C7.08375 6.15225 7.03725 6.3315 6.90225 6.4275L5.28375 7.584C6.27334 9.88984 8.11091 11.7274 10.4167 12.717L11.5717 11.1015C11.619 11.0355 11.6878 10.9882 11.7664 10.9677C11.8449 10.9473 11.9281 10.9551 12.0015 10.9897C12.9503 11.4404 13.9617 11.7451 15.0015 11.8935C15.1058 11.9085 15.243 11.925 15.414 11.9415C15.5064 11.951 15.592 11.9944 15.6543 12.0634C15.7165 12.1324 15.7509 12.2221 15.7507 12.315H15.75Z"/>
												</g>
												<defs>
													<clipPath id="clip0_95_157">
														<rect width="18" height="18" />
													</clipPath>
												</defs>
											</svg>
											<span class="phone__number"> +7 800 555 44 80</span>
										</p>
										<p class="phone__text"> Заказать обратный звонок</p>
									</address>
								</div>
							</div>
						</div>
					</nav>
				//- main
				//- 	section.hero
				//- 	section.about-us
				//- 	section.question
				//- 	section.features
				//- 	section.reviews
				//- 	section.feedback
				//- 	section.certificates
				//- 	section.faq
				//- 	section.contacts
