:root {
	--font-light: #f2f2f2;
	--font-dark: #333333;
	--font-dark-small: #4f4f4f;
	--button-color: #F2323D;
	--button-color-hover: #C9000C;

	font-family: "Gilroy";
	font-weight: normal;
}
body {
	margin: 0;
	padding: 0;
	color: var(--font-light);
}
p {
	margin-bottom: 0;
}
a{
	text-decoration: none;
}
.wrapper {
	width: 100%;
	overflow: hidden;
	background: linear-gradient(
		80.5deg,
		#83a4bd 11.55%,
		#a5a2b3 24.51%,
		#ba929b 33.33%,
		#bd8689 39.89%,
		#c46f6a 47.85%,
		#c65857 55.62%,
		#bf4145 65.14%,
		#9c2e37 75.49%,
		#7a262e 84.66%,
		#5b1e23 95.55%,
		#421f23 103.99%,
		#2d1c22 111.11%
	);
}

.custom-container {
	@include make-container();
	width: 83.33%;
	@include media-breakpoint-up(md) {
		width: min(88.37%, 72.5rem);
	}
	@include media-breakpoint-up(sm) {
		width: 82.63%;
	}
}

.title {
	font-size: 2rem;
	font-weight: 600;
	line-height: 130%;
	@include media-breakpoint-between(md, lg){
		font-size: 1.5rem;
	}
	@include media-breakpoint-down(md){
		font-size: 1.375rem;
		text-align: center;
	}
}
